<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		<% if(active != ""){ %>
			<%= active %>
		<% } %>
	</title>
	<base href="/">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Multi-Vender shop project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
	<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
	<link rel="stylesheet" type="text/css" href="plugins/slick-1.8.0/slick.css">
	<link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
	<!-- @if(isset($layout)) -->
	 <!-- @if($layout=='blog') -->
	<link rel="stylesheet" type="text/css" href="styles/blog_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/blog_responsive.css">
	 <!-- @elseif($layout=='single-post') -->
	<link rel="stylesheet" type="text/css" href="styles/blog_single_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/blog_single_responsive.css">
	 <!-- @elseif($layout=='cart') -->
	 <link rel="stylesheet" type="text/css" href="styles/cart_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/cart_responsive.css">
	 <!-- @elseif($layout=='product') -->
	 <link rel="stylesheet" type="text/css" href="styles/product_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/product_responsive.css">
	 <!-- @elseif($layout=='shop') -->
	 <link rel="stylesheet" type="text/css" href="styles/shop_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/shop_responsive.css">
	 <!-- @elseif($layout=='contact') -->
	<link rel="stylesheet" type="text/css" href="styles/contact_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/contact_responsive.css">
	 <!-- @endif
	@else -->
	<link rel="stylesheet" type="text/css" href="styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="styles/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/customs.css">
	<!-- @endif -->
	<script src="js/jquery-3.3.1.min.js"></script>
</head>
<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/phone.png" alt=""></div>+92 306 0717707</div>
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="images/mail.png" alt=""></div><a href="mailto:abc@abc.com">info@weareavailable.com</a></div>
						<div class="top_bar_content ml-auto">
						
						<% if(!UserCheck){ %>
							<div class="top_bar_user">
							    <div class="user_icon"><img src="images/user.svg" alt="">
							</div>
							<div><a href="/register">Register</a></div>
							<div><a href="/login">Sign in</a></div>
							</div>
						<% }else{ %>
							<div class="top_bar_user">
								
								<%  if(UserCheck.role == 2){ %>	
									<div><a href="/admin/dashboard">Dashboard | </a></div>
									<a href="/logout" >Logout</a>
								<% } if(UserCheck.role == 0){ %>
									<div><a href="/user/profile">Dashboard | </a></div>
									<a href="/logout" >Logout</a>
								<%  } if(UserCheck.role == 1){%>
									<div><a href="/employee/profile">Dashboard | </a></div>
									<a href="/logout" >Logout</a>
								<% } %>
							</div>
						<% } %>
  						</div>
						
					</div>
				</div>
			</div>		
		</div>

		<!-- Header Main -->

		<div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="//micon.png">

							
						</a></div>
						</div>
					</div>

					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search">
							<div class="header_search_content">
								<div class="header_search_form_container">
									<form action="/search" method="POST" class="header_search_form clearfix">
										<input type="search" name="search" required="required" class="header_search_input" placeholder="Search for products...">
										
										<button type="submit" class="header_search_button trans_300" value="Submit"><img src="images/search.png" alt=""></button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Wishlist -->
					<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
						<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
							

							<!-- Cart -->
							<div class="cart">
								<div class="cart_container d-flex flex-row align-items-center justify-content-end">
									<div class="cart_icon">
										<img src="images/cart.png" alt="">
										<div class="cart_count"><span><% if(typeof session.cart == 'undefined'){ %> 0 <% } else { %> <%= session.cart.totalQty; %><% } %></span></div>
									</div>
									<div class="cart_content">
										<div class="cart_text"><a href="/cart">Cart</a></div>
										<div class="cart_price"><% if(typeof session.cart == 'undefined'){ %> Pkr. 0 <% } else { %> Pkr. <%= session.cart.totalPrice %><% } %></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">
						
						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->

							<div class="cat_menu_container">
								<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
									<div class="cat_burger"><span></span><span></span><span></span></div>
									<div class="cat_menu_text">categories</div>
								</div>

								<ul class="cat_menu">

									<% if(typeof categories != "undefined"){ %>
									<% categories.forEach(function(cat){ %>
									<li>
										<a href="/product/category/<%= cat._id %>"> <i class="fas fa-chevron-right ml-auto"></i><%= cat.name %></a>
									</li>
									<% }); } %>
								</ul>
							</div>

							<!-- Main Nav Menu -->

							<div class="main_nav_menu ml-auto">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a href="/">Home<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="/employees">Employees<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="/shop">Shop<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="/contact">Contact<i class="fas fa-chevron-down"></i></a></li>
								</ul>
							</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>


	</header>