<%- include ('../partials/header'); %>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/dashboard">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Manage Orders</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">All Orders</h1>
			</div>
		</div><!--/.row-->
		
		
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>Sr#</th>
							<th>Name</th>
							<th>Price</th>
							<th>Size</th>
							<th>Stock</th>
							<th>Image</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% var i = 1; %>
						<% orders.forEach(function(order){ %>
						<% cartItemsArray.forEach(function(item){ %>
						<tr>
							<td><%= i %></td>
							<td><%= item.title %></td>
							<td><%= i %></td>
							<td><%= i %></td>
							@if($P['image'] == '')
								<td>
									<p>No Image</p>
								</td>
							@else
							<td>
								<img src="" alt="producy Image" class="img-responsive" style="width: 120px;">
							</td>
							@endif
							<td>
								<form action="/" method="POST">
									<button style="background: none;border: none;">
										<i class="fa fa-trash"></i>
									</button>
								</form>
							</td>
						</tr>
						<%  }); i++; }); %>
					</tbody>
				</table>
			</div>
		</div><!--/.row-->
	
	</div>	<!--/.main-->
	
<%- include ('../partials/footer'); %>
