<%- include('../partials/header')   %>

		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/dashboard">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Manage Users</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">User Manager</h1>
			</div>
		</div><!--/.row-->
		
		
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>Sr#</th>
							<th>Name</th>
							<th>Email</th>
							<th>Role</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% var i = 1; %>
						<% users.forEach(function(user){ %>
						<tr>
							<td><%= i %></td>
							<td><%= user.name %></td>
							<td><%= user.email %></td>
							<td><% if(user.role == '0'){ %>User<% }else if(user.role == '1'){  %>Employee<% }else if(user.role == '2'){  %>Admin<% } %></td>
							<td>
								<form action="/admin/dashboard/delete-user" method="POST">
									<input type="hidden" name="del_id" value="<%= user._id %>" />
									<button style="background: none;border: none;">
										<i class="fa fa-trash"></i>
									</button>
								</form>
							</td>
						</tr>
						<% i++; }); %>
					</tbody>
				</table>
			</div>
		</div><!--/.row-->
	
	</div>	<!--/.main-->
	
<%- include('../partials/footer')   %>
